:root {
    --colourbackground-light-grey: rgba(251, 251, 253, 1);
    --colourlogoprimary: rgba(34, 69, 227, 1);
    --colourmaingrey-900: rgba(20, 23, 25, 1);
    --colourmaingrey-800: rgba(57, 62, 65, 1);
    --colourmaingrey-700: rgba(69, 78, 84, 1);
    --colourmaingrey-600: rgba(93, 105, 112, 1);
    --colourmaingrey-500: rgba(118, 132, 140, 1);
    --colourmaingrey-400: rgba(147, 158, 164, 1);
    --colourmaingrey-300: rgba(176, 184, 188, 1);
    --colourmaingrey-200: rgba(205, 209, 212, 1);
    --colourmaingrey-100: rgba(233, 235, 236, 1);
    --colourmainblue-900: rgba(9, 17, 51, 1);
    --colourmainblue-800: rgba(17, 27, 71, 1);
    --colourmainblue-700: rgba(34, 47, 101, 1);
    --colourmainblue-600: rgba(55, 68, 126, 1);
    --colourmainblue-500: rgba(80, 95, 152, 1);
    --colourmainblue-400: rgba(111, 124, 178, 1);
    --colourmainblue-300: rgba(146, 158, 204, 1);
    --colourmainblue-200: rgba(186, 195, 229, 1);
    --colourmainblue-100: rgba(231, 236, 255, 1);
    --coloursecondarywhite-100-general: rgba(255, 255, 255, 1);
    --coloursecondaryyellow-500: rgba(255, 209, 102, 1);
    --coloursecondaryyellow-400: rgba(254, 220, 140, 1);
    --coloursecondaryyellow-300: rgba(253, 231, 179, 1);
    --coloursecondaryyellow-200: rgba(255, 242, 210, 1);
    --coloursecondaryyellow-100: rgba(255, 246, 224, 1);
    --iconblack: rgba(0, 0, 0, 1);
    --bold-50-font-family: "Roboto-Bold", Helvetica;
    --bold-50-font-weight: 700;
    --bold-50-font-size: 50px;
    --bold-50-letter-spacing: 1px;
    --bold-50-line-height: 66px;
    --bold-50-font-style: normal;
    --bold-42-font-family: "Roboto-Bold", Helvetica;
    --bold-42-font-weight: 700;
    --bold-42-font-size: 42px;
    --bold-42-letter-spacing: 0px;
    --bold-42-line-height: 60px;
    --bold-42-font-style: normal;
    --bold-26-font-family: "Roboto-Black", Helvetica;
    --bold-26-font-weight: 900;
    --bold-26-font-size: 26px;
    --bold-26-letter-spacing: 0px;
    --bold-26-line-height: 38px;
    --bold-26-font-style: normal;
    --medium-50-font-family: "Roboto-Medium", Helvetica;
    --medium-50-font-weight: 500;
    --medium-50-font-size: 50px;
    --medium-50-letter-spacing: 1px;
    --medium-50-line-height: 66px;
    --medium-50-font-style: normal;
    --medium-42-font-family: "Roboto-Medium", Helvetica;
    --medium-42-font-weight: 500;
    --medium-42-font-size: 42px;
    --medium-42-letter-spacing: 0px;
    --medium-42-line-height: 60px;
    --medium-42-font-style: normal;
    --medium-36-font-family: "Roboto-Medium", Helvetica;
    --medium-36-font-weight: 500;
    --medium-36-font-size: 36px;
    --medium-36-letter-spacing: 0px;
    --medium-36-line-height: 48px;
    --medium-36-font-style: normal;
    --medium-28-font-family: "Roboto-Medium", Helvetica;
    --medium-28-font-weight: 500;
    --medium-28-font-size: 28px;
    --medium-28-letter-spacing: 0px;
    --medium-28-line-height: 38px;
    --medium-28-font-style: normal;
    --medium-22-font-family: "Roboto-Medium", Helvetica;
    --medium-22-font-weight: 500;
    --medium-22-font-size: 22px;
    --medium-22-letter-spacing: 0px;
    --medium-22-line-height: 32px;
    --medium-22-font-style: normal;
    --medium-18-font-family: "Roboto-Medium", Helvetica;
    --medium-18-font-weight: 500;
    --medium-18-font-size: 18px;
    --medium-18-letter-spacing: 0px;
    --medium-18-line-height: 30px;
    --medium-18-font-style: normal;
    --medium-16-font-family: "Roboto-Medium", Helvetica;
    --medium-16-font-weight: 500;
    --medium-16-font-size: 16px;
    --medium-16-letter-spacing: 0px;
    --medium-16-line-height: 26px;
    --medium-16-font-style: normal;
    --medium-14-font-family: "Roboto-Medium", Helvetica;
    --medium-14-font-weight: 500;
    --medium-14-font-size: 14px;
    --medium-14-letter-spacing: 0px;
    --medium-14-line-height: 24px;
    --medium-14-font-style: normal;
    --medium-12-font-family: "Roboto-Medium", Helvetica;
    --medium-12-font-weight: 500;
    --medium-12-font-size: 12px;
    --medium-12-letter-spacing: 0px;
    --medium-12-line-height: 18px;
    --medium-12-font-style: normal;
    --regular-22-font-family: "Roboto-Regular", Helvetica;
    --regular-22-font-weight: 400;
    --regular-22-font-size: 22px;
    --regular-22-letter-spacing: 0px;
    --regular-22-line-height: 32px;
    --regular-22-font-style: normal;
    --regular-18-font-family: "Roboto-Regular", Helvetica;
    --regular-18-font-weight: 400;
    --regular-18-font-size: 18px;
    --regular-18-letter-spacing: 0px;
    --regular-18-line-height: 30px;
    --regular-18-font-style: normal;
    --regular-16-font-family: "Roboto-Regular", Helvetica;
    --regular-16-font-weight: 400;
    --regular-16-font-size: 16px;
    --regular-16-letter-spacing: 0px;
    --regular-16-line-height: 26px;
    --regular-16-font-style: normal;
    --regular-14-font-family: "Roboto-Regular", Helvetica;
    --regular-14-font-weight: 400;
    --regular-14-font-size: 14px;
    --regular-14-letter-spacing: 0px;
    --regular-14-line-height: 24px;
    --regular-14-font-style: normal;
    --regular-12-font-family: "Roboto-Regular", Helvetica;
    --regular-12-font-weight: 400;
    --regular-12-font-size: 12px;
    --regular-12-letter-spacing: 0px;
    --regular-12-line-height: 18px;
    --regular-12-font-style: normal;
    
  }
  